<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant revenue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom">
    <h5 class="my-0 mr-md-auto fs-4">Restaurant revenue</h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        {% if user.is_authenticated %}
            <h1 class="me-3 py-3">{{ user.username|default:'Guest' }}</h1>
            <a class="me-3 py-4 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>
            <a class="me-3 py-4 text-dark text-decoration-none" href="{% url 'user_profile' user.pk %}">Profile</a>
            <a class="me-3 py-4 text-dark text-decoration-none" href="{% url 'prediction' user.pk %}">Predict</a>
        {% else %}
            <h1 class="me-3 py-3">{{ user.username|default:'Guest' }}</h1>
            <a class="me-3 py-4 text-dark text-decoration-none" href="{% url 'signup' %}">Sign Up</a>
            <a class="me-3 py-4 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

</div>
<h1 align="center">Hello, {{ user.username|default:'Guest' }}</h1>
<div class="container">
    <p style="text-align: justify;">Restaurant revenue is a modern demo web-application. First of all, it is highly
        suitable for restaurant owners, but also can be useful for consulting agencies. The application helps to predict
        restaurant revenue.</p>
    <p style="text-align: justify;">The analysis requires only the following initial data:</p>
    <ul style="text-align: justify;">
        <li>Restaurant opening date;</li>
        <li>Type of the city: big or not;</li>
        <li>Type of the restaurant: FC: food court, IL: inline, DT: drive thru, MB: mobile;</li>
        <li>Demographic data include population in the area, age and gender of the target audience, development
            scales;
        </li>
        <li>Real estate data mainly related to the front facade, parking, etc.</li>
        <li>Commercial data include the existence of points of interest like schools, banks and other QSR operators.
        </li>
    </ul>
    <p style="text-align: justify;">Restaurant revenue works on the basis of a neural network developed on the Random
        Forest architecture. The algorithm is guaranteed to be accurate, as the dataset used to train the model uses
        data from 137 restaurants.</p>
    <p style="text-align: justify;">Here are some of key features:</p>
    <ul>
        <li style="text-align: justify;">Lightweight and clean design</li>
        <li style="text-align: justify;">User-friendly interface</li>
        <li style="text-align: justify;">Requires only 10-15 seconds to get the result you need</li>
        <li style="text-align: justify;">This service has the ability to train a model on its own dataset</li>
        <li style="text-align: justify;">All input datasets must be in the same format</li>
        <li style="text-align: justify;">.cvs format of income files</li>
    </ul>
</div>
</body>
</html>


